body {
  background-color: orange;
}
h1,
h2,
h3 {
  color: rgb(210, 30, 30);
}

h2,
h3 {
  display: none;
}

@media (max-width: 600px) {
  body {
    background-color: rgb(254, 5, 38);
  }
  h1,
  h2,
  h3 {
    color: rgb(47, 0, 255);
  }

  h3 {
    display: block;
  }
  h1,
  h2 {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  body {
    background-color: rgb(225, 12, 165);
  }
  h1,
  h2,
  h3 {
    color: rgb(0, 0, 0);
  }

  h2 {
    display: block;
  }
  h1,
  h3 {
    display: none;
  }
}
